body, h1, form {
    margin: 0;
    padding: 0;
}

/* Style the video background */
#pyramids {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

/* Style the content container */
main {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    margin: 50px auto;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
}

/* Style form elements */
form div {
    margin-bottom: 10px;
}

form label {
    font-weight: bold;
    display: block;
}

.form-group label {
    display: block;
}

.inline-label {
    display: inline;
}
form input[type="text"],
form input[type="email"],
form input[type="tel"],
form input[type="date"],
form input[type="url"],
form textarea,
form select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

form input[type="checkbox"],
form input[type="radio"] {
    margin-right: 5px;
}

form button[type="submit"],
form button[type="reset"] {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

form button[type="submit"]:hover,
form button[type="reset"]:hover {
    background-color: #0056b3;
}